<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="FlashDEG"
           Manufacturer="Kondo Lab"
           Version="$(var.ProductVersion)"
           UpgradeCode="{5CB77BFA-E531-4B75-9187-EF891C84B6B3}"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of FlashDEG is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.InstallerLicenseRtf)" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Installation completed successfully." />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="FlashDEG" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="FlashDEG" Level="1">
      <ComponentGroupRef Id="FlashdegFiles" />
      <ComponentGroupRef Id="PathComponents" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="FlashdegFiles" Directory="INSTALLFOLDER">
      <Files Include="$(var.MsiRoot)\FlashDEG\**" />
    </ComponentGroup>

    <ComponentGroup Id="PathComponents" Directory="INSTALLFOLDER">
      <Component Id="AddFlashdegToPath" Guid="{8840797D-E392-4A27-B7DB-0478EC8FD10C}">
        <CreateFolder />
        <RegistryValue Root="HKLM"
                       Key="Software\FlashDEG"
                       Name="PathComponent"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <Environment Id="AddFlashdegToPath"
                     Name="PATH"
                     Value="[INSTALLFOLDER]"
                     Action="set"
                     Part="last"
                     System="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
